* {

    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{

    background: rgba(248, 245, 245, 0.137);
    background-image: url(../img/fog-dark-clouds-mountains.jpg);
    background-position: center;
    background-size: cover;
}

form {

    margin-top: 10%;
    background-color: rgba(44, 42, 41, 0.349);
    width: 30%;
    height: 280px;
    box-shadow: rgba(237, 237, 240, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

h1 {

    background: rgba(137, 43, 226, 0.897);
    padding: 10px;
    color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

input {

    width: 65%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.486);
}

button {

    width: 30%;
    padding: 6px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.733);
    border-radius: 5px;
    background: blueviolet;
}